@charset "utf-8";
/* CSS Document */

#FIFOXMLRSSFEED_CSS_POSTPASGE 
{
	padding:5px;
}
#FIFOXMLRSSFEED_CSS_POSTPASGE a 
{
	text-decoration: none;
}
#FIFOXMLRSSFEED_CSS_POSTPASGE a:hover 
{
	text-decoration: underline;
}

#FIFOXMLRSSFEED_CSS_WIDGET 
{
	padding:5px;
}
#FIFOXMLRSSFEED_CSS_WIDGET a 
{
	text-decoration: none;
}
#FIFOXMLRSSFEED_CSS_WIDGET a:hover 
{
	text-decoration: underline;
}